* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  max-height: 75px;
}

.app__headerImage {
  object-fit: contain;
  max-width: 200px;
  flex: 1;
}
.app__headerLinks {
  object-fit: contain;
  width: 50%;
  flex: 2;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}
